	body {
		font-family: sans-serif;
		font-size: 16px;
		font-family: $sans;
		background: white;
		color: black;
		line-height: 1.5em;
	}
	img {
		width: auto;
		height: auto;
		max-width: 100%;
		display: block;
	}
	a {
		color: $link;
		text-decoration: none;
		&:hover {
			color: black;
			text-decoration: underline;
		}
	}
	strong {
		font-weight: 700;
	}
	em {
		font-style: italic;
	}
	h1 {
		font-size: 2em;
		font-weight: 700;
		font-family: $sans;
		margin: 1em 0;
		line-height: 1.2em;
		padding-bottom: 0.25em;
		border-bottom: 1px solid black;
		a {
			text-decoration: none;
			color: black;
			&:hover {
				text-decoration: none;
			}
		}
	}
	h2,
	h3 {
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-family: $sans;
		font-weight: 700;
		line-height: 1.2em;
		margin: 2em 0 0.5em 0;
		a {
			text-decoration: none;
		}
	}
	h4,
	h5,
	h6 {
		font-weight: bold;
		font-family: $sans;
		margin: 2em 0 0.5em 0;
	}
	p {
		margin: 0.75em 0;
	}
	blockquote {
		margin: 0.75em 0;
		// margin-left: 20px;
		padding-left: 20px;
		border-left: 10px solid darken(white, 10%);
	}
	cite {
		font-family: $sans;
		font-size: 0.875em;
		font-style: italic;
		margin-left: 30px;
		
	}
	input,
	textarea {
		-webkit-appearance:none;
		@include border-radius(0);
		border: 0;
		background: white;
		display: block;
		font-family: $sans;
		font-size: 16px;
		outline: none;
		// margin: 10px 0;
		padding: 10px;
		&[type="text"] {
			width:100%;
			color: darken(white, 70%);
		}
	}
	textarea {
		width: 100%;
		font-size: 0.875em;
	}
	label {
		font-weight: bold;
		font-size: 0.875em;
	}
	input[type="submit"] {
		font-weight: 800;
		font-style: italic;
		padding: 10px 20px;
		background: darken(white, 20%);
		cursor: pointer;
		display: inline-block;
		&:hover {
			background: darken(white, 30%);
		}
	}
	abbr,
	code {
		font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	}
	code {
		line-height: 1.1em;
		padding: 0.2em;
		background: white;
	}

	.screen-reader-text {
		display: none;
	}

// Layout
// ==========================================

	// $header_height: 40px;
	$header_height: 50px;
	$sidebar_width: 280px;
	
	.column {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.content {
		color: black;
		background: white;
		font-family: $serif;
		padding-top: $header_height;
		@include clearfix;
	}
	.scroller {
		padding: 0;
	}
	.sidebar {
		background-color: darken(white, 10%);
	}

	// Mobile display toggle
	.sidebar {
		display: none;
	}
	.main {
		display: block;
		background: darken(white, 5%);
	}
	.home {
		.sidebar {
			display: block;
		}
		.main {
			display: none;
		}
	}

	// Sidebar entry
	.sidebar-entry {
		border-top: 1px solid white;
		font-size: 0.875em;
		&:first-child {
			border: 0;
		}
		a {
			text-decoration: none;
		}
		p {
			color: black;
			margin: 0;
			line-height: 1.4em;
			margin-top: 10px;
		}
		h3 {
			margin: 0;
			margin-top: 5px;
		}
		&:hover,
		&.active {
			background: darken(white, 20%);
		}
		img {
			width: 100%;
			max-width: 100%;
		}
		.entry-content {
			padding: 10px;
		}
	}

	// Main Entry
	.main-entry,
	.page-content {
		max-width: 1080px;
		background: white;
		margin: 0 auto;
		border-top: 1px solid darken(white, 5%);
		padding: 40px 0;
		&:first-child {
			border: 0;
		}
		.entry-content {
			ul, ol {
				margin: 0.75em 0 0.75em 40px;
			}
			ul {
				li {
					list-style-type: disc;
				}
			}
			ol {
				li {
					list-style-type: decimal;
				}
			}
			img {
				margin: 20px 0;
				max-width: 100%;
			}
			.wp-caption-text {
				font-family: $sans;
				font-size: 0.875em;
				color: darken(white, 50%);
				line-height: 1.2em;
				font-style: italic;
			}
		}
	}
	.archive {
		.main-entry {
			&:first-child {
				padding-top: 70px;
			}
		}
	}

	// Image alignment
	.wp-caption {
		max-width: 100%;
	}
	.alignleft {
		max-width: 100%;
		float: left;
		margin: 0 20px 20px 0;
	}
	.alignright {
		max-width: 100%;
		float: right;
		margin: 0 0 20px 20px;
	}
	.size-full {
		width: 100%;
		max-width: 100%;
	}

	// Page Content
	.page-content {
		padding: 0 0 40px 0;
	}

	// Advertisement 
	.advertisement {
		padding: 10px 0;
		text-align: center;
		@include clearfix;
		font-family: $sans;
		h2 {
			margin: 0;
		}
		img {
			margin: 0 auto;
		}
	}

// Header
// ==========================================
	
	// Header
	.header {
		position: fixed;
		z-index: 500;
		width: 100%;
		color: white;
		background: black;
		background: rgba(30,30,30,0.9);
	}

	// Masthead
	.masthead {
		background: $brand;
		position: relative;
		// height: $header_height;
		padding-right: $header_height * 2;
		padding-left: 10px;
		@include clearfix;
		h1,
		img {
		}
		img {
			float: left;
			margin: (($header_height - 40px) / 2) 0;
			height: 40px;
			max-width: none;
			width: auto;
		}
		h1 {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			// text-overflow: ellipsis;

			border: 0;
			margin: 0;
			padding: 0;
			font-size: 32px;
			line-height: $header_height;
			font-weight: 800;
			text-transform: uppercase;
			font-style: italic;
		}
		a {
			display: block;
			color: white;
			text-decoration: none;
		}
		.logo-small {
			display: none;
		}
	}
	.header-message {
		font-size: 0.875em;
		padding-left: 10px;
		padding-right: 40px;
		position: relative;
		p {
			margin: 0;
			line-height: 40px;
		}
		a {
			color: white;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			color: darken(white, 60%);
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -5px;
				margin-top: -5px;
				font-size: 9px;
			}
			&:hover {
				color: white;
			}

		}
	}

	// Tool Menu
	.tool-menu {
		position: absolute;
		top: 0;
		right: 0;
		li {
			float: left;
		}
		a {
			display: block;
			width: $header_height;
			height: $header_height;
			position: relative;
			&:hover {
				background: black;
				background: rgba(0,0,0,0.3);
			}
			&.is-active {
				background: black;
			}
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -9px;
				margin-top: -9px;
				font-size: 18px;
				color: white;
			}
		}
	}
	.icon-back {
		display: none;
	}

	// Menu
	.icon-menu {
		float: right;
		&.is-active {
			&:before {
				content: '\e602';
				font-size: 16px;
				margin-top: -8px;
				margin-left: -8px;
			}
		}
	}
	.menu {
		background: black;
		display: none;
		font-weight: 800;
		font-style: italic;
		&.is-open {
			display: block;
		}
		li {
			width: 100%;
			border-top: 1px solid darken(white, 90%);
			&:first-child {
				border: 0;
			}
		}
		a {
			padding: 0 10px;
			display: block;
			line-height: $header_height;
			color: white;
			text-decoration: none;
			&:hover {
				background: darken(white, 90%);
			}
		}
		ul {
			a {
				color: darken(white, 60%);
				&:hover {
					color: white;
				}
			}
			font-weight: normal;
			margin-left: 10px;
			border-left: 1px solid darken(white, 90%);
			padding-left: 10px;
		}
	}

	// Search
	.searchform-mobile {
		display: none;
	}
	.searchform-desktop {
		display: block;
		float: right;
	}
	.icon-search {
		@extend .icon-search;
		float: right;
	}
	.searchform {
		width: 0;
		@include transition(width .5s ease);
		float: right;
		position: static;
		@include clearfix;
		input[type="text"] {
			margin: 0;
			width: 100%;
			height: $header_height;
			background: black;
			background: rgba(0,0,0,0.2);
			color: white;
			text-indent: 0.5em;
			padding: 0;
		}
		input[type="submit"] {
			display: none;
		}
		&.is-open {
			@include transition(width .5s ease);
			width: 200px;
		}
	}

	// Admin Bar
	#wpadminbar {
		display: none;
	}

// Post
// ==========================================
	
	// Post Categories
	.post-categories {
		@include clearfix;
		line-height: 1.2em;
		font-family: $sans;
		font-size: 0.875em;
		li {
			float: left;
			margin-right: 10px;
		}
		color: darken(white, 50%);
		font-weight: 700;
	}

	// Post Title
	.post-title {
		margin: 0.1em 0 0 0;
	}

	// Featured Image
	.featured-image {
		margin: 40px 0;
		background: black;
		color: white;
		font-family: $sans;
		font-size: 0.875em;
		@include clearfix;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
	.featured-image-caption {
		padding: 0 20px;
	}
	
	// Intro
	.intro {
		font-weight: bold;
		font-family: $sans;
	}

	// Meta
	.meta {
		margin: 20px 0;
		font-family: $sans;
		font-size: 0.875em;
		color: darken(white, 50%);
		position: relative;
		line-height: 1.2em;
		@include clearfix;
		// &.has-image {
		// 	padding-left: 80px;
		// }
		.author-gravatar {
			float: left;
			margin-right: 20px;
			width: 60px;
			img {
				width: 100%;
				max-width: 100%;
			}
		}
		.author-description {
			font-style: italic;
			margin-bottom: 0;
		}
	}
	// Share
	.share {
		margin: 0;
		@include clearfix;
		li {
			float: left;
		}
		a,
		.icon-share {
			display: block;
			text-decoration: none;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			&:hover {
				background: darken(white, 5%);
			}
		}
		.icon-googleplus { color: #dd4b39; }
		.icon-twitter { color: #55acee; }
		.icon-facebook { color: #3B5999; }

		.icon-share {
			font-size: 19px;
			background: darken(white, 5%);
			color: darken(white, 50%);
		}
	}

// System
// ==========================================

	// Spinner
	.main {
		position: relative;
	}
	.spinner {
		display: none;
		padding: 20px;
		text-align: center;
		font-family: $sans;
		font-weight: 800;
		font-style: italic;
	}

	// system-message
	.system-message {
		text-align: center;
		margin: 20px;
		font-family: $sans;
		font-weight: 800;
		font-style: italic;
		color: darken(white, 50%);
	}

	// Load Sidebar
	.load-sidebar {
		background: darken(white, 20%);
		padding: 10px;
		display: block;
		margin: 10px;
		text-align: center;
		font-weight: 800;
		font-style: italic;
		font-family: $sans;
		color: black;
		&:hover {
			background: darken(white, 30%);
			text-decoration: none;
		}
	}

// Comments
// ==========================================
	.comments {
		padding: 40px;
		background: darken(white, 5%);
		font-family: $sans;
		h3 {
			margin: 0 0 20px 0;
			strong {
				font-weight: 800;
				font-style: italic;
			}
		}
		input[type="submit"] {
			margin-bottom: 0;
		}
		ol ol {
			padding-left: 20px;
		}
		ol.children {
			position: relative;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				background: darken(white, 50%);
			}
			&:before {
				height: 1px;
				width: 10px;
				top: 20px;
				left: 10px;
			}
			&:after {
				width: 1px;
				height: 40px;
				top: - 20px;
				left: 10px;
			}
		}
	}
	.commentlist {
		margin: 0 0 40px 0;
	}
	.comment-block {
		background: white;
		font-size: 0.875em;
		margin: 20px 0;
		padding: 20px;
	}
	.comment-notes {
		font-size: 0.875em;
	}
	.comment-awaiting-moderation {
		color: black;
		font-weight: bold;
		font-style: italic;
	}
	.comment-reply-title {
		a {
			text-transform: none;
			font-weight: 800;
			font-style: italic;
		}
		small {
			a {
				// text-transform: uppercase;
				font-size: 0.875em;
				float: right;
				font-style: normal;
				letter-spacing: 0;
				font-weight: normal;
			}
		}
	}
	.form-allowed-tags {
		color: darken(white, 50%);
		font-size: 0.75em;
		font-style: italic;
	}
	.logged-in-as {
		font-size: 0.875em;
	}
	.logged-in-as,
	.comment-meta {
		color: darken(white, 50%);
		a {
			color: darken(white, 50%);
			font-weight: bold;
		}
	}
	.comment-actions {
		@include clearfix;
		a {
			float: left;
			margin-right: 20px;
		}
	}
	.nocomments {
		@extend .system-message;
	}

// Footer
// ==========================================
	.footer {
		margin: 0;
		font-family: $sans;
		font-size: 0.875em;
		font-style: italic;
		color: darken(white, 50%);
	}