@media all and (max-width: 784px) {
	// Layout
	// $sidebar_width: 200px;
	// .sidebar-scroll-wrapper {
	// 	width: $sidebar_width;
	// }
	// .scroller {
	// 	padding-left: $sidebar_width;
	// }
	.admin-bar {
		margin-top: 46px;
	}


	// Header
	.masthead {
		padding: 13px 50px 12px 50px;
		a {
			line-height: 25px;
			height: 25px;
		}
		img {
			height: 25px;
		}
		&.archive {
			padding: 3px 50px 2px 50px;
		}
	}
	.category-title {
		font-size: 1em;
		line-height: 20px;
		height: 20px;
	}
	.drawer-toggles {
		a {
			width: 50px;
			height: 50px;
		}
	}

	// Menu
	.drawer {
		height: auto;
		display: none;
		&.is-open {
			display: block;
			height: auto;
		}
	}
	.menu {
		padding: 10px 0;
		li {
			width: 100%;
		}
	}
}
